<% provide(:title, 'Contact') %>
<h1 class="page-title">CS 232 <%= yield(:title) %></h1>
<section class="main">
	<dl>
		<dt>Donna Dodds</dt>
		<dd>444-5566<br />
			ddodds@example.com
		</dd>
		
		<dt>Lian Yin</dt>
		<dd>444-3322<br />
			yin_lian@example.com
		</dd>
		
		<dt>Felisardo Alfaro Tovar</dt>
		<dd>234-3456<br />
			ftovar@example.com
		</dd>
	</dl>
</section>
