<h1>Hello</h1>
<p class="welcome">Basic app created by following Michael Hartl's <a href="http://ruby.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>, with motivation &amp; guidance provided by enrolling in <a href="http://hackingthevalley.com/" target="_blank">Douglas Putnam</a>'s Rails course at <a href="http://www.ccsf.edu/NEW/" target="_blank">City College of San Francisco</a>.</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-teal" %>