<% provide(:title, 'Links') %>
<h1><%= yield(:title) %></h1>
<section class="main">
	<ul class="links_list">
		<li><a href="#">I am a link! I am only here to pass a test.</a></li>
		<li><a href="#">I am a link! I am only here to pass a test.</a></li>
		<li><a href="#">I am an extra link! Tests don't affect me.</a></li>
	</ul>
</section>
