<% unless current_user?(user_to_follow) %>
  <div id="follow_form">
  <% if current_user.following?(user_to_follow) %>
    <%= render 'unfollow', :user_to_follow => user_to_follow %>
  <% else %>
    <%= render 'follow', :user_to_follow => user_to_follow %>
  <% end %>
  </div>
<% end %>