<h1>Hello</h1>
<p class="welcome">Welcome to this basic app. This is an introductory paragraph. It tells something short yet meaningful about our application; a pitch, if you will.</p>
<p>Find me in app/views/welcome/index.html.erb</p>
