/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


$font-stack: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

@import "color_scheme.css.scss";

html, body {
   font: 120% $font-stack;
   color: $primary-color-dark;
   background-color: $primary-color-light;
 }

div#main { 
	background-color: $tertiary-color-light;
	border: 3px double $secondary-color-medium-dark;
	padding: 10px;
}

div#main h1 { color: $secondary-color-medium; }

header { 
	background-color: $secondary-color-medium;
	border: 3px double $secondary-color-dark;
	margin:0; padding:0;
}
