/* teals */
$teal-dark: #091F1E;
$teal-medium-dark: #122221;
$teal-medium: #122927;
$teal-medium-light: #6FB3AE;
$teal-light: #9CB7B5;

/* cherry plums */
$cherry-plum-dark: #280C1D;
$cherry-plum-medium-dark: #2C1824;
$cherry-plum-medium: #351729;
$cherry-plum-medium-light: #B7729C;
$cherry-plum-light: #B78CA6;

/* beiges */
$beige-dark: #332C0F;
$beige-medium-dark: #37331E;
$beige-medium: #433C1E;
$beige-medium-light: #BCAF75;
$beige-light: #DEDAC8;

