/* teals */
$primary-color-dark: #091F1E;
$primary-color-medium-dark: #122221;
$primary-color-medium: #122927;
$primary-color-medium-light: #6FB3AE;
$primary-color-light: #91AFAD;

/* cherry plums */
$secondary-color-dark: #280C1D;
$secondary-color-medium-dark: #2C1824;
$secondary-color-medium: #351729;
$secondary-color-medium-light: #B7729C;
$secondary-color-light: #B78CA6;

/* beiges */
$tertiary-color-dark: #332C0F;
$tertiary-color-medium-dark: #37331E;
$tertiary-color-medium: #433C1E;
$tertiary-color-medium-light: #BCAF75;
$tertiary-color-light: #DEDAC8;

