// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "color_scheme.css.scss";

p.welcome { 
	color: $beige-dark;  
	background-color: $beige-medium-light;
	border: 3px double $cherry-plum-dark;
	padding: 5px;
}

