// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$light-bg-color: #98D9D5;
$emphasis-bg-color: #55D9D0;
$text-color: #002B28;
$lowlight-color: #133734;
$highlight-color: #00554E;


body {
  font: 100% $font-stack;
  background-color: $light-bg-color;
  color: $text-color;
}

